body {
  background: black;
  border-color: white;
  border-width: 1px;
  color: white;
  border-radius: 4px;
}

button {
  width: 100%;
  margin-block: 4px;
  border-radius: 8px;
  background: transparent;
  white-space: nowrap;
  box-shadow: none;
  border: 1px white;
  color: lightblue;
}

.ignored_calendar {
  color: gray;
}

.enabled {
  background: lightblue;
  color: black;
}

.disabled {
  background: transparent;
  color: lightblue;
}
